<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- Application settings -->
    <appSettings>
      <add key="Wait" value="0" />
      <add key="Sleep" value="10" />
      <add key="Timeout" value="-1" />
    </appSettings>
    <system.serviceModel>
      <!-- WITHOUT certificates -->
      <extensions>
        <behaviorExtensions>
          <add name="serviceKeyBehavior" type="qv_edx_trigger.ServiceKeyBehaviorExtensionElement, QvEDXTrigger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </behaviorExtensions>
      </extensions>
      <behaviors>
        <endpointBehaviors>
          <behavior name="ServiceKeyEndpointBehavior">
            <serviceKeyBehavior/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <!--                                                                -->
      <!-- WITH certificates (make sure to use https as endpoint address) -->
      <!--
      <extensions>
        <behaviorExtensions>
          <add name="serviceKeyBehavior" type="qv_edx_trigger.ServiceKeyBehaviorExtensionElement, QvEDXTrigger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </behaviorExtensions>
      </extensions>
      <behaviors>
        <endpointBehaviors>
          <behavior name="ServiceKeyEndpointBehavior">
            <serviceKeyBehavior/>
            <clientCredentials>
              <clientCertificate findValue="CN=QVProxy" x509FindType="FindBySubjectDistinguishedName" storeLocation="LocalMachine" storeName="My" />
              <serviceCertificate>
                <authentication certificateValidationMode="ChainTrust" revocationMode="NoCheck"/>
              </serviceCertificate>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
      -->
      <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IQMS" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS" contract="QMSAPI.IQMS"
                name="BasicHttpBinding_IQMS" behaviorConfiguration="ServiceKeyEndpointBehavior" />
            <endpoint address="http://localhost:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService" contract="QMSAPI.IQTService"
                name="BasicHttpBinding_IQTService" />
        </client>
    </system.serviceModel>
</configuration>