<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

  <variable name="logDirectory" value="${specialfolder:folder=CommonApplicationData}/QlikTech/External Event Logs/${shortdate}" />

  <targets>
    <target name="logfile" xsi:type="File" fileName="${logDirectory}/${event-context:item=TaskNameOrId}.txt" layout="${longdate}|${level:uppercase=true}|${event-context:item=ExecId}|${message}" />
    <target name="console" xsi:type="Console" layout="${time}|${level:uppercase=true}|${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>